:root {
  --text-black: #252020;
  --text-secondary: #b6a975;
  --body-background-color: #faf3eb;
  --backgr-color-hover: #e2ddd4;
  --question-card-color: #fffff5;
  --answer-card-bgr: #ecf5e9;
  --answer-card-title-color: #6a9956;
  --padding-sides: 102px;
  --font-size-captions: 14px;
  --font-size-display: 32px;
  --font-size-heading: 20px;
  --max-width-item-list: 400px;
}
body {
  margin: 0;
  background-color: var(--body-background-color);
  font-family: 'Julius Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.container {
  padding: 36px 102px;
}

p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.accent-font {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.capitalized {
  text-transform: uppercase;
}
.kode-mono {
  font-family: 'Kode Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: fit-content;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.container-header {
  width: 100%;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--padding-sides);
  padding-right: var(--padding-sides);
  padding-top: 42px;
  padding-bottom: 12px;
}

.separator-full {
  background-color: var(--text-black);
  height: 2px;
  width: 100%;
}
.logo-font {
  font-size: 20px;
}

.intro-greating {
  color: var(--text-secondary);
  font-size: var(--font-size-display);
}

.intro-heading {
  font-size: var(--font-size-display);
}

.intro-decks,
.question-category,
.answer-category {
  font-size: var(--font-size-heading);
  color: var(--text-secondary);
}
.answer-category {
  color: var(--answer-card-title-color);
}
.menu-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 4px;
  border-bottom: 1px var(--text-black) solid;
  max-width: var(--max-width-item-list);
}

.menu-item:hover {
  background-color: var(--backgr-color-hover);
  cursor: pointer;
}
.menu-item_subs {
  display: flex;
  gap: 24px;
  font-size: var(--font-size-captions);
  color: var(--text-secondary);
}

.menu-item_name {
  font-size: var(--font-size-heading);
  font-weight: 600;
}

.question-card,
.answer-card {
  max-width: 906px;
  /* height: 300px; */
  background-color: var(--question-card-color);
  margin: 0 auto;
  padding: 42px 32px;
}
.answer-card {
  background-color: var(--answer-card-bgr);
}

.question-general {
  font-size: 18px;
  width: fit-content;
  margin: 0 auto;
}
.answer-general {
  font-size: 16px;
  font-weight: 400;
  width: fit-content;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.study-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 24px;
}
.study-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}

.study-header-numbers {
  font-size: 18px;
}

.progress-bar {
  height: 8px;
  background-color: #e2ddd4;
  width: 100%;
}

.progress-fill {
  height: 100%;
  width: 75%;
  background-color: #b6a975;
}

.reveal-btn {
  display: block;
  margin: 0 auto;
  padding: 25px clamp(40px, 12vw, 170px);

  margin-top: 32px;
  margin-bottom: 32px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid var(--backgr-color-hover);
  font-size: 18px;
  max-width: 464px;
}

.reveal-btn:hover {
  background-color: var(--text-black);
  color: var(--backgr-color-hover);
}

.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.ratings-container {
  display: flex;
  gap: 16px;
}
.rating-container {
  border: 1px solid var(--text-black);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.rating-container:hover {
  background-color: var(--text-secondary);
}
.ratings-title {
  font-size: var(--font-size-heading);
  color: var(--text-secondary);
  text-transform: uppercase;
}

.rating-title {
  font-size: var(--font-size-heading);
}
.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.icon-empty {
  border: 3px solid var(--text-black);
}

.icon-half {
  /* border: 1px solid var(--text-black); */
  overflow: hidden;
}

.icon-half::before {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  background: var(--text-black);
  margin-left: auto;
}

.icon-full {
  background: var(--text-black);
}

.card-image {
  padding-top: 32px;
  display: block;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
